# visual studio stuff
!.vscode
.vscode/*
!.vscode/extensions
.vs
# builds
bin
obj
/index.html
content/index.js
# generated stuff
*.g.cs
*.service.cs
elm-stuff
TestResults
node_modules
content/report/**/*.html
content/lang/**/*.json
!/content/lang/raw/index.schema.json
# runtime stuff
.litedb
.env
keyfile
maintenance.key
