[submodule "content/vendor/flag-icon-css"]
	path = content/vendor/flag-icon-css
	url = https://github.com/lipis/flag-icon-css.git
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/Garados007/Werewolf.wiki.git
[submodule "content/vendor/Multiavatar"]
	path = content/vendor/Multiavatar
	url = https://github.com/multiavatar/Multiavatar.git
