.edit-changes {
  margin: 2em 1em;
  position: relative;
}
.edit-changes .title {
  font-size: 1.5em;
  max-width: 26em;
  margin: 0 auto;
}
.edit-changes .description {
  margin: 1em auto;
  max-width: 39em;
}
.edit-changes .download {
  margin: 0 auto;
  max-width: 10em;
  text-align: center;
  padding: 1em 2em;
  background-color: #26a8f7;
  cursor: pointer;
}
.edit-changes .download:hover {
  background-color: #1d78ae;
}
.edit-changes .preview-title {
  font-size: 1.25em;
  max-width: 31.2em;
  margin: 1em auto;
}
.edit-changes textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  min-height: 15em;
  max-height: 100vh;
}

