.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editor-roles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.editor-role-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-transparent);
  margin: 0.5em 1em;
  width: 10em;
  position: relative;
}
.editor-role-info {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  border-radius: 100%;
  border: 0.1em solid;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.editor-role-info:hover {
  color: var(--color-dark);
  border: 0.15em solid;
}
.role-info {
  padding: 0 1em;
  max-width: 35em;
}
.role-info p {
  margin: 0.5em 0;
}
.editor-role-image {
  height: 4em;
  margin: 1em 0.6em;
}
.editor-role-name {
  padding: 0 0.5em 0.5em;
  flex-grow: 1;
  text-align: center;
}
.editor-role-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 0.5em 0.5em;
  box-sizing: border-box;
}
.editor-role-number input {
  box-sizing: border-box;
  flex: 1;
  font-family: inherit;
  border: none;
  min-width: 1em;
  text-align: right;
}
.editor-role-number .down,
.editor-role-number .up {
  width: 1em;
  flex: 0;
  cursor: pointer;
  margin: 0 0.25em 0 0;
}
.editor-role-number .down {
  margin: 0 0 0 0.25em;
}
.editor-role-number .down:before,
.editor-role-number .up:before {
  display: block;
  content: " ";
  border-top: 0 solid transparent;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid var(--color-dark-transparent);
}
.editor-role-number .down:before {
  transform: rotate(180deg);
}
.editor-role-number .down:hover:before,
.editor-role-number .up:hover:before {
  border-bottom: 1em solid var(--color-dark);
}
.editor-role-number:not(.editable) input {
  text-align: center;
}
.editor-role-number:not(.editable) .down,
.editor-role-number:not(.editable) .up {
  display: none;
}

.editor-bar-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.editor-bar-fill-outer {
  margin: 0.7em 0;
  position: relative;
  height: 0.7em;
  flex: 1 1 100%;
  background-color: var(--color-dark-transparent);
}
.editor-bar-fill-inner {
  position: absolute;
  height: 100%;
  background-color: var(--color-darker-transparent);
  transition: width 0.3s;
}
.editor-bar-desc {
  white-space: nowrap;
  margin: 0 0.5em;
}
.editor-checks {
  margin: 0 auto;
  max-width: 35em;
}
.editor-checks label {
  display: block;
}
.editor-checks label.disabled {
  color: var(--text-color-light);
  text-decoration: line-through;
}
.editor .start-button {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0.5em 0.8em;
  background-color: var(--color-light-transparent);
  cursor: pointer;
  text-align: center;
  font-size: 1.1em;
  margin-top: 0.1em;
}
.editor .start-button.disabled {
  cursor: not-allowed;
}
.editor .theme-selector {
  margin: 2em auto 0;
  max-width: 35em;
}
.editor .theme-selector select {
  margin: 0 auto;
  font-size: 1.5em;
  max-width: 100%;
  color: inherit;
  background-color: var(--color-dark-transparent);
}


/* new definitions */
.editor .editor-page-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-shrink: 0;
}
.editor .editor-page-selector button {
  flex: 1 0;
  background-color: var(--color-medium);
  border: none;
  padding: 0.4em 0.5em;
  font-size: 1.1em;
  font-family: inherit;
  cursor: pointer;
  display: block;
}
.editor .editor-page-selector button:hover,
.editor .editor-page-selector button:disabled {
  background-color: var(--color-light);
}
.editor .editor-page-selector button:disabled {
  color: var(--text-color-light);
}
.editor .editor-content-theme,
.editor .editor-content-roles,
.editor .editor-content-options {
  flex: 1 1 100%;
  overflow: auto;
}