.event-list {
  overflow-y: auto;
  height: 100%;
  max-width: 20em;
  flex-shrink: 0;
}
.event-item {
  margin: 0.5em;
  padding: 0.5em;
  white-space: pre;
  font-size: 0.75em;
  background-color: var(--color-light);
}
.event-item.used {
  background-color: var(--color-light-transparent);
}
