.notification-box .player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.notification-box .player {
    display: flex;
    align-items: center;
    margin: 0.5em 0.8em;
    position: relative;
}
.notification-box .player-image img {
    width: 3em;
    height: 3em;
    border-radius: 40%;
    transition: border-radius 0.25s;
}
.notification-box .player-image.dead img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.notification-box .player-name {
    font-size: 1.2em;
  margin-left: 0.5em;
}
.notification-text {
    margin: 0.5em 0.8em;
}
