@import url("events.css");
@import url("error-box.css");
@import url("frame.css");

@import url("modals.css");
@import url("theme-editor.css");
@import url("editor.css");
@import url("winner-box.css");
@import url("player-notification.css");
@import url("chat-box.css");
@import url("join-token.css");
@import url("init-select-user.css");
@import url("maintenance.css");
@import url("version.css");
@import url("settings.css");
@import url("voting.css");
@import url("phase.css");
@import url("user-frame-winner.css");

:root {
  /* the default base color of the page */
  --color-base: #fff;
  /* the background color of the page */
  --color-background: #fff;

  /* the color with the highest contrast */
  --text-color: #000;
  /* blended color of color base and text color. factor is 30-40% */
  --text-color-light: #666;
  /* the inverted text color */
  --text-inv-color: #fff;
  /* the highlight text color */
  --text-hightlight: #000;

  /* a light color for some light backgrounds */
  --color-light: #ccc;
  --color-light-transparent: #cccb;
  /* a medium color for active backgrounds */
  --color-medium: #aaa;
  /* a dark color for backgrounds, shadows and borders */
  --color-dark: #888;
  --color-dark-transparent: #888b;
  --color-dark-semitransparent: #888d;
  /* a more darker color for some dark active backgrounds */
  --color-darker: #444;
  --color-darker-transparent: #444b;

  /* the url for the background image */
  --bg-url: url("");
}
* {
  scrollbar-color: var(--color-medium) var(--color-base);
}
::-webkit-scrollbar {
  background-color: var(--color-base);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-medium);
  box-shadow: inset 0 0 0.4em var(--color-base);
}
.elm-debug-extra-output {
  position: relative;
  /* z-index: 1; */
}
body {
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
.styles .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-url);
  z-index: -1;
}
.styles .background.old {
  background-image: var(--bg-old-url);
}


@media (max-width: 900px) {
  .theme-editor .pane:not(.countries) {
    flex-direction: column;
  }
  .chat-box {
    position: fixed;
  }
}